<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.superpixel.lurgan.abairleat"
>

    <uses-permission android:name="android.permission.INTERNET" />

    <permission android:name="com.superpixel.lurgan.abairleat.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.superpixel.lurgan.abairleat.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
    >
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id" />

        <activity
            android:name=".activities.LoginActivity_"
            android:noHistory="false"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.DashboardActivity_">
        </activity>

        <activity android:name=".activities.ConversationActivity_">
        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"

            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name"
        >
        </activity>


        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND"
        >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.superpixel.lurgan.abairleat" />
            </intent-filter>
        </receiver>
        
        <service
            android:name=".gcm.AbairGcmListenerService_"
            android:exported="false"
        >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name=".gcm.AbairInstanceIDListenerService_"
            android:exported="false"
        >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

    </application>

</manifest>
